:root {
  --link-color: #212121;
  --link-active-color: #2196f3;
  --text-font-family: "Roboto", sans-serif;
  --text-color: #212121;
  --heading-color: #212121;
  --small-text-color: #757575;
  --contacts-text-color: #757575;
  --icons-color-active: #2196f3;
  --title-color: #fff;
  --button-color: #2196f3;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: var(--text-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

p,
span {
  font-family: var(--text-font-family);
  color: var(--small-text-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
}

/* Navigation */
.container-nav {
  display: flex;
  background-color: #fff;
}

.webstudio {
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.web,
.studio {
  color: var(--link-active-color);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
}

.studio {
  color: var(--link-color);
}

.studio-activ {
  color: var(--link-active-color);
  font-family: var(--text-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
/* Navigation Menu */
.nav-menu ul {
  display: flex;
  gap: 50px;
  padding-bottom: 32px;
  padding-top: 32px;
  margin-left: 93px;
}

.portfolio,
.contacts-nav {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.studio-activ:hover,
.portfolio:hover,
.contacts-nav:hover,
.contacts:hover {
  color: var(--link-active-color);
}

/* Contacts Section Header */

.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-left: 320px;
}

.contacts {
  display: flex;
  gap: 20px;
  color: var(--contacts-text-color);
  font-family: var(--text-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-icon {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
}

.mail,
.phone {
  width: 19px;
  height: 17px;
  flex-shrink: 0;
  fill: #757575;
}

.mail:focus,
.mail:hover,
.phone:focus,
.phone:hover {
  color: var(--icons-color-active);
}
/* Main */
.hero-section {
  background: #2f303a;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(/images/background.jpg);
}
/* Title Hero Section */
.title {
  color: #fff;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
}

.button-book-a-service {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: transparent;
  cursor: pointer;
}

.request {
  color: #fff;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.qualities-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 94px;
}

.qualities-icon {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

.qualities-rect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}

.qualities-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.qualities-list {
  display: flex;
  gap: 30px;
}

.qualities {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.qualities-title {
  width: 270px;
  color: #212121;
  font-family: var(--text-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.qualities-paragraph {
  width: 270px;
  height: 75px;
  flex-shrink: 0;
  color: var(--small-text-color);
  font-family: var(--text-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.images-what-we-do {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
}

.what-we-do {
  display: flex;
  justify-content: center;
  color: var(--heading-color);
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.images-what-we-do ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.container-our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  width: 1600px;
  height: 700px;
  flex-shrink: 0;
  margin-top: 94px;
}

.Our-team-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}

.cards ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.names {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 25px;
}

.functions {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--small-text-color);
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 10px;
}

.icon-team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-icon svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
  color: #afb1b8;
}

.team-icon {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.icon-team-list .team-icon:focus,
.icon-team-list .team-icon:hover {
  background-color: #2196f3;
  color: #2196f3;
}

.team-icon svg:hover,
.team-icon svg:focus {
  color: #fff;
}
